*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;

}
.search-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 20vh;
    width: 100wh;
    gap: 20px;
    background-color: red;
    color: white;
}

#header{
    text-align: center;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

footer{
    position: fixed;
    bottom: 0;
    height: 36px;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    padding: 10px;
}