<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet", href="{{url_for('static',filename='style.css')}}">
    <title>Youtube Analyzer</title>
</head>

<body>
    <div class="start-sec">
        <h1 id="header">Youtube Analyzer</h1>
        <p id="desc">This is an all in one youtube analyzer</p>
    </div>

    {% block midsec %}
        <h1>This is feature is under developement</h1>
    {% endblock %}

    <footer>
        <p>Created by <a href="https://github.com/Deepanshu0810">Deepanshu Anand</a></p>
    </footer>
    <script src="{{url_for('static',filename='index.js')}}"></script>
</body>
</html>