{% extends "base.html"%}

{% block midsec %}
<div class="mid-sec">
    <h2 id="mid-header">Our Features</h2>
    <div class="inner-container">
        <a class="card-link" href="/analysis">
            <div class="card">
                <h3 class="card-header">Sentiment Analysis</h3>
                <p>Get the analysis on video comments</p>
            </div>
        </a>
        <a class="card-link" href="/summary">
            <div class="card">
                <h3 class="card-header">Summary</h3>
                <p>Get the summary of a youtube video</p>
            </div>
        </a>
    </div>
</div>
{% endblock %}